* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

td {
    text-align: left;
}

th {
  border-bottom: 1px solid black;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 50%;
}

.col-4-disabled {
  width: 33.33%;
  pointer-events: none;
  opacity: 0.4;
}

[class*="col-"] {
  float: left;
  padding: 7px;
}

.odd {
    width: 100%;
    background: white;
    margin: 10px;
    padding: 10px;
}
.even {
    width: 100%;
    background: #ccc;
    margin: 10px;
    padding: 10px;
}


.content {
  text-align: center;
  width: 100%;
  max-width: 1000px;
  position: relative;
  margin: auto;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.5;
}

.section-header { color: green; text-align: center; background-size: cover; }
.video-bg {
  position: relative;
  overflow: hidden;
}
.video-bg video {
    opacity: 0.3;
    filter: brightness(0.5);
}

.video-bg .content {
  position: absolute;
  text-align: center;
  font-size: 3rem;
  color: green;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

video {
  width: 100%;
  height: auto;
}

